body {
    margin: 0;
}
.container {
    margin-bottom: 80px;
}
.carousel-bg {
    background-color:#ffebea;
    border-radius: 8px; 
}
.carousel .carousel-item {
    padding: 20px 30px;
}
.price {
    color: #ff1873;
}
.red-button {
    background-image: linear-gradient( to bottom, #ff589b 0%, #ff136f 100%);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    text-transform: uppercase;

}
.categories img {
    width: 100px;
}
.cat-1,
.cat-2,
.cat-3 {
    padding: 15px 30px;
    color: #ffffff;
    border-radius: 10px;
}
.cat-1 {
    background: orange;
}
.cat-2 {
    background: rebeccapurple;
}
.cat-3 {
    background: blue;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#contact{
    min-height: 300px;
    border-radius: 10px;
   
}
footer {
    text-align: center;
}